mat-card {
    margin: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    mat-card-header {
        padding: 1em;
        color: white;
        border-radius: 10px 10px 0 0;

        mat-card-title {
            font-weight: 500;
        }

        mat-card-subtitle {
            color: rgba(255, 255, 255, 0.911);
            margin-left: 1em;
        }
    }

    mat-card-content {
        margin: 1em;
        display: flex;
        flex-direction: column;

        mat-radio-group {
            display: flex;
            flex-direction: column;
            mat-radio-button {
                padding-bottom: 1em;
            }
        }

        .code {
            padding: 0.5em;
            border-radius: 10px;
        }

        .question {
            font-weight: 500;
            font-size: larger;
            line-height: normal;
            padding-bottom: 1em;
        }
    }
}
