<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Question {{questions.indexOf(question) + 1}} of {{questions.length}}</mat-card-title>
            <mat-card-subtitle>{{question.theme}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <h3 class="question">{{question.label}}</h3>
            @for(option of question.options; track option) {

            @if(question.type === "CHECKBOX") {
            <mat-checkbox [formControlName]="option.key + 'Ctrl'"><div [class.code]="checkIfCode(question)">{{option.value}}</div></mat-checkbox>
            }
            @else {
            <mat-radio-group [formControlName]="question.key">
                <mat-radio-button [value]="option.key"><div [class.code]="checkIfCode(question)">{{option.value}}</div></mat-radio-button>
            </mat-radio-group>
            }
            }
        </form>
    </mat-card-content>
</mat-card>