<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Question {{questions.indexOf(question) + 1}} of {{questions.length}}</mat-card-title>
            <mat-card-subtitle>Directives</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <h3 class="question">{{question.label}}</h3>
        <form [formGroup]="form">
            @for(option of question.options; track option){
                <mat-checkbox [formControlName]="option.key + 'Ctrl'">{{option.value}}</mat-checkbox>
            }
        </form>
    </mat-card-content>
</mat-card>